# maven
mvnw
mvnw.*
.mvn/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# node
node_modules/
package-lock.json 

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### VS Code ###
.vscode/


### SVELTE ### 
node_modules/
bundle.*
