// $color-1 : teal;
// $color-2 : cyan;
// $color-3 : blue;

@import "common/colors.scss";

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

.refresh {
	cursor:pointer;
	font-size: x-large;
	padding-left: 16px;
	padding-bottom: 16px;
  }

.pcp-color1 ,.pcp-hover-color1:hover
{
	color:#fff!important;
	background-color:$color-1!important
}

.pcp-color2,.pcp-hover-.pcp-color2{
	color:#000!important;
	background-color:$color-2!important
}

.pcp-color3,.pcp-hover-.pcp-color3{
	color:#000!important;
	background-color:$color-3!important
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.awesome {
	font-family: FontAwesome !important;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
